<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{420,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,131}}</string>
                <key>sourceSize</key>
                <string>{420,131}</string>
            </dict>
            <key>base_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,117},{193,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,115}}</string>
                <key>sourceSize</key>
                <string>{193,115}</string>
            </dict>
            <key>base_btn_ok_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,117},{286,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,104}}</string>
                <key>sourceSize</key>
                <string>{286,104}</string>
            </dict>
            <key>base_lb_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{1246,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1246,42}}</string>
                <key>sourceSize</key>
                <string>{1246,42}</string>
            </dict>
            <key>base_lb_jindutiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1272,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1272,68}}</string>
                <key>sourceSize</key>
                <string>{1272,68}</string>
            </dict>
            <key>base_loading_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,215},{51,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>base_loading_bar_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,215},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>base_loading_bar_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,223},{312,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,22}}</string>
                <key>sourceSize</key>
                <string>{312,22}</string>
            </dict>
            <key>base_loading_bar_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,72},{43,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{43,22}}</string>
                <key>sourceSize</key>
                <string>{51,30}</string>
            </dict>
            <key>base_loading_bar_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,117},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>base_wait_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,147},{48,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{48,47}}</string>
                <key>sourceSize</key>
                <string>{118,119}</string>
            </dict>
            <key>base_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,148},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>lobby_sub_btn_xybbtn_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,117},{286,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,96}}</string>
                <key>sourceSize</key>
                <string>{286,96}</string>
            </dict>
            <key>lobby_sub_lb_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,196},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>lobby_sub_lb_jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,116},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{1276,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe10fa79f5cebe77a9bf2a1a7cfcfc6$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
